
.container
  font-family: 'Lato',Helvetica,sans-serif

/* NAV */

.price-slider
  max-width: 200px

.custom-navbar
  min-height: 110px

  a
    color: #393b40
    text-decoration: none

  a:hover
    text-decoration: underline

.custom-nav-link
  padding: 15px 15px 0 0

ul.custom-nav-link li
  list-style: none

ul.custom-nav-link li:before
  content: "+"
  margin-right: 10px
  // font-size: 19px

span.text-content
  background: rgba(77, 156, 45, 0.8)
  color: white
  cursor: pointer
  display: table
  left: 15px
  position: absolute
  top: 0
  width: 350px
  height: 350px
  opacity: 0
  -webkit-transition: opacity 500ms ease
  -moz-transition: opacity 500ms ease
  -ms-transition: opacity 500ms ease
  -o-transition: opacity 500ms ease
  transition: opacity 500ms ease

  h1, h2, h3
    color: #fff
    text-align: center
    font-weight: 100

  h1
    font-size: 21px
    line-height: 23px
    padding: 100px 0 10px
    border-top: none
    margin: 0px

  h2
    font-size: 16px
    line-height: 18px

  h3
    font-size: 12px
    line-height: 14px

  .short
    width: 80%


// alt option for hover on images
  //background: rgba(0,0,0,0.5)
/* HP */


.site-town, .site-name
  padding: 5px 0 20px

.site-name
  float: left
  font-weight: 700

  a
    color: #393b40

  a:hover
    color: #666
    text-decoration: none


.site-town
  float: right
  color: #666

.site-image
  width: 350px

div.site-container-hp a:hover span.text-content
  opacity: 1


span.text-content h1, span.text-content h2, span.text-content h3
  text-align: center
  vertical-align: middle


.center
  float: none
  margin-left: auto
  margin-right: auto

.no-facility
  text-decoration: line-through
  color: #545454


/* Headers and titles */
.h-title
  text-align: center
  margin: 0 0 25px 0

  h4
    font-weight: bold
    font-size: 18px
    color: #393b40

.h-underline
  margin: 0 auto
  display: block
  width: 48px
  height: 3px
  border-bottom: 3px solid #4D9C2D
  // border-bottom: 3px solid #393b40
