.container
  font-family: $serif

/* NAV */

.bc-logo
  width: 80px
  height: 80px

.custom-navbar
  min-height: 115px
  background-color: #f1f1f1
  a
    color: $dark-grey
    text-decoration: none
    font-weight: $strong
    font-size: 16px
  &:hover
    text-decoration: underline

.custom-nav-link
  padding: 15px 15px 0 0

ul.custom-nav-link li
  list-style: none

ul.custom-nav-link li:before
  content: "+"
  margin-right: 10px
  // font-size: 19px

//
// .container #para-logo
//   background: url(images/para-logo-home.png) no-repeat center center
//   -webkit-background-size: cover
//   -moz-background-size: cover
//   -o-background-size: cover
//   background-size: cover


span.text-content
  background: rgba(77, 156, 45, 0.8)
  color: white
  cursor: pointer
  display: table
  left: 25px
  position: absolute
  top: 10px
  width: 320px
  height: 320px
  opacity: 0
  -webkit-transition: opacity 500ms ease
  -moz-transition: opacity 500ms ease
  -ms-transition: opacity 500ms ease
  -o-transition: opacity 500ms ease
  transition: opacity 500ms ease
  h1, h2, h3
    color: #fff
    text-align: center
    font-weight: $light
  h1
    font-size: 21px
    line-height: 23px
    padding: 100px 0 10px
    border-top: none
    margin: 0px
  h2
    font-size: 16px
    line-height: 18px
  h3
    font-size: 12px
    line-height: 14px
  .short
    width: 80%

// alt option for hover on images
  //background: rgba(0,0,0,0.5)
/* HP */


.site-name
  float: left
  font-weight: 700
  padding: 5px 0 20px 10px
  a
    color: $dark-grey
  &:hover
    color: $mid-grey
    text-decoration: none

.site-town
  float: right
  color: $mid-grey
  padding: 5px 30px 20px 0

.site-image
  width: 340px
  height: 340px
  padding: 10px
  border-radius: 1px

div.site-container-hp a:hover span.text-content
  opacity: 1

span.text-content h1, span.text-content h2, span.text-content h3
  text-align: center
  vertical-align: middle

.center
  float: none
  margin-left: auto
  margin-right: auto

.no-facility
  text-decoration: line-through
  color: $mid-grey
  width: 80%


/* Headers and titles */
.h-title
  text-align: center
  margin: 20px 0 25px 0
  h4
    font-weight: bold
    font-size: 20px
    color: $dark-grey

.h-underline
  margin: 0 auto
  display: block
  width: 48px
  height: 3px
  border-bottom: 3px solid $green

/****** BUTTONS ******/
.green-btn, .form-btn
  display: inline-block
  text-align: center
  text-transform: uppercase
  font-weight: bold
  cursor: pointer
  background-color: $green
  color: #ffffff
  border: none
  letter-spacing: 1px
  width: 100%
  padding: 12px 0
  margin: 15px 0
  outline: none

.sml-btn
  width: 50%
  margin: 0 auto
  margin-left: 25%
