
.container
  font-family: 'Lato',Helvetica,sans-serif

.center
  float: none
  margin-left: auto
  margin-right: auto

// move to seperate file?
.no-facility
  text-decoration: line-through
  color: #545454


/* Headers and titles */
.h-title
  text-align: center
  margin: 0 0 25px 0

  h4
    font-weight: bold
    font-size: 18px
    color: #393b40

.h-underline
  margin: 0 auto
  display: block
  width: 48px
  height: 3px
  border-bottom: 3px solid #4D9C2D
  // border-bottom: 3px solid #393b40
