<h1 id='header'>Camping Emporium</h1>
<ul>
  <li><a href='#'>ABC Camping</a></li>
  <li><a href='#'>XYZ Camping</a></li>
  <li><a href='#'>Green Camping</a></li>
  <li><a href='#'>Woodland Campground</a></li>
  <li><a href='#'>Big Camp</a></li>
</ul>
